# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class



# Gradle files
App/.gradle/
app/build/
.externalNativeBuild/


# Local configuration file (sdk path, etc)
App/local.properties



# Log Files
*.log




# Intellij
*.iml
App/.idea/
App/.idea/workspace.xml

# Keystore files
*.jks


